#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.sub-title {
	padding-bottom: 1rem;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;

	@media (min-width: 900px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.shopping-cart-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr) 160px;
	align-items: center;
	gap: 1rem;
}

.total-price {
	font-size: 1.5rem;
}

.price-divider {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
